:root {
  --lineage-view-height: 600px;
}

.mat-grid-tile {
  background: lightblue;
}
.bottom {
  border-bottom: dashed;
  border-bottom-width: 3px;
  border-bottom-color: black;
}

.mat-grid-list:focus {
    height: calc((100% - 0px) * 1 + var(--lineage-view-height));
}
