<mat-grid-list cols="1" rowHeight="125px">
  <mat-grid-tile rowspan="2">
  <app-view></app-view>
  <app-view></app-view>
  <app-view></app-view>
  <app-view></app-view>
  <app-view></app-view>
  <app-view></app-view>
  <app-view></app-view>
  <app-view></app-view>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="125px">
  <mat-grid-tile rowspan="2">
  <app-view></app-view>
  <app-view></app-view>
  <app-view></app-view>
  <app-view></app-view>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="125px">
  <mat-grid-tile rowspan="2">
  <app-view></app-view>
  <app-view></app-view>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="125px">
  <mat-grid-tile rowspan="2">
  <app-view></app-view>
  </mat-grid-tile>
</mat-grid-list>


