.mat-grid-tile {
  background: lightblue;
}
.bottom {
  border-bottom: dashed;
  border-bottom-width: 3px;
  border-bottom-color: black;
}

.line {
    width: 250px;
    height: 3px;
    border-bottom-style: dashed;
    position: absolute;
}

#vertical-row1-line1 {
    top: 150px;
    left: 90px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row1-line2 {
    top: 150px;
    left: calc(90px + 150px);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row1-line3 {
    top: 150px;
    left: calc(150px * 2 + 95px);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row1-line4 {
    top: 150px;
    left: calc(150px * 3 + 95px);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row1-line5 {
    top: 150px;
    left: calc(150px * 4 + 95px);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row1-line6 {
    top: 150px;
    left: calc(150px * 5 + 100px);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row1-line7 {
    top: 150px;
    left: calc(150px * 6 + 100px);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row1-line8 {
    top: 150px;
    left: calc(150px * 7 + 100px);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row2-line1 {
    top: -500vh;
    left: calc((100vw / 16) * 1);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row2-line2 {
    top: -500vh;
    left: calc((100vw / 16) * 2);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row2-line3 {
    top: -500vh;
    left: calc((100vw / 16) * 3);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row2-line4 {
    top: -500vw;
    left: calc((100vw / 16) * 4);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#vertical-row3-line1 {
    top: -500vh;
    left: calc((100vw / 16) * 1);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
