<mat-grid-list cols="1" rowHeight="125px">
  <mat-grid-tile rowspan="2">
    <app-view [lineageRow]="1" [displayLines]="['bottom-straight','bottom-right']"></app-view>
    <app-view [lineageRow]="1" [displayLines]="['bottom-straight','bottom-left']"></app-view>
    <app-view [lineageRow]="1" [displayLines]="['bottom-straight','bottom-right']"></app-view>
    <app-view [lineageRow]="1" [displayLines]="['bottom-straight','bottom-left']"></app-view>
    <app-view [lineageRow]="1" [displayLines]="['bottom-straight','bottom-right']"></app-view>
    <app-view [lineageRow]="1" [displayLines]="['bottom-straight','bottom-left']"></app-view>
    <app-view [lineageRow]="1" [displayLines]="['bottom-straight','bottom-right']"></app-view>
    <app-view [lineageRow]="1" [displayLines]="['bottom-straight','bottom-left']"></app-view>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="125px">
  <mat-grid-tile rowspan="2">
    <div class="lineage-breeding-pair">
      <app-view class="row-two-flat-line" [lineageRow]="2" [displayLines]="['top-straight', 'bottom-straight','bottom-right','top-straight-ii', 'bottom-right-long']"></app-view>
      <app-view class="row-two-flat-line" [lineageRow]="2" [displayLines]="['top-straight', 'bottom-straight','bottom-left','top-straight-iii', 'bottom-right-short']"></app-view>
    </div>
    <div class="lineage-breeding-pair">
      <app-view class="row-two-flat-line" [lineageRow]="2" [displayLines]="['top-straight', 'bottom-straight','bottom-right','top-straight-iv', 'bottom-left-long']"></app-view>
      <app-view class="row-two-flat-line" [lineageRow]="2" [displayLines]="['top-straight', 'bottom-straight','bottom-left','top-straight-v', 'bottom-left-short']"></app-view>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="125px">
  <mat-grid-tile rowspan="2">
    <app-view [lineageRow]="3" [displayLines]="['top-straight', 'bottom-straight','bottom-right','top-straight-vi','bottom-left-short-ii']"></app-view>
    <app-view [lineageRow]="3" [displayLines]="['top-straight', 'bottom-straight','bottom-left','top-straight-vii','bottom-right-short-ii']"></app-view>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="125px">
  <mat-grid-tile rowspan="2">
    <app-view [lineageRow]="4" [displayLines]="['top-straight']"></app-view>
  </mat-grid-tile>
</mat-grid-list>


