.mat-grid-tile {
  background: lightblue;
}

.lineage-breeding-pair {
  display: contents;
}

.lineage-block-list {
  display: none;
}

.lineage-traditional-list {
}


@media only screen and (max-width: 1080px) {
  .lineage-block-list {
    display: block;
  }

  .lineage-traditional-list {
    display: none;
  }
}
