@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
@import "material-components-web/material-components-web";


@include textfield.core-styles;

.my-image-list {
  @include image-list.standard-columns(6);
}

@media only screen and (max-width: 1280px) {
  .my-image-list {
  @include image-list.standard-columns(4);
  }
}

@media only screen and (max-width: 1024px) {
  .my-image-list {
  @include image-list.standard-columns(3);
  }
}
@media only screen and (max-width: 600px) {
  .my-image-list {
    @include image-list.standard-columns(2);
  }
}

@media only screen and (max-width: 599px) {
.my-image-list {
@include image-list.standard-columns(1);
}
}

.mdc-image-list__item {
  overflow: hidden;
  margin: 7px;
}

.mdc-image-list__label {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .009375em;
  text-decoration: inherit;
  text-transform: inherit;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.image-list-item {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  opacity: .9;
  overflow: hidden;
}

.mdc-image-list__item:hover .mdc-image-list__supporting {
  transform: translateY(96px);

  animation: label-slide-up 1200ms forwards;
  animation-delay: 0ms;
  animation-fill-mode: forwards;

  -webkit-animation: label-slide-up 1200ms forwards;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: label-slide-up 1200ms forwards;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;

  -o-animation: label-slide-up 1200ms forwards;
  -o-animation-delay: 0ms;
  -o-animation-fill-mode: forwards;
}

@keyframes label-slide-up {
  from {transform: translateY(96px); display: none;}
  to {transform: translateY(0px); display: block;}
}

@-webkit-keyframes label-slide-up {
  from {transform: translateY(96px); display: none;}
  to {transform: translateY(0px); display: block;}
}

@-moz-keyframes label-slide-up {
  from {transform: translateY(96px); display: none;}
  to {transform: translateY(0px); display: block;}
}

@-o-keyframes label-slide-up {
  from {transform: translateY(96px); display: none;}
  to {transform: translateY(0px); display: block;}
}

.mdc-image-list__item {
  opacity: .9;

  animation: focus-image 2400ms reverse;
  animation-fill-mode: forwards;

  -webkit-animation: focus-image 2400ms reverse;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: focus-image 2400ms reverse;
  -moz-animation-fill-mode: forwards;

  -o-animation: focus-image 2400ms reverse;
  -o-animation-fill-mode: forwards;
}

.mdc-image-list__item:hover {
  opacity: .9;

  animation: focus-image 2400ms forwards;
  animation-fill-mode: forwards;

  -webkit-animation: focus-image 2400ms forwards;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: focus-image 2400ms forwards;
  -moz-animation-fill-mode: forwards;

  -o-animation: focus-image 2400ms forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes focus-image {
  from {opacity: .9;}
  to {opacity: 1;}
}

@-webkit-keyframes focus-image {
   from {opacity: .9;}
  to {opacity: 1;}
}

@-moz-keyframes focus-image {
   from {opacity: .9;}
  to {opacity: 1;}
}

@-o-keyframes focus-image {
   from {opacity: .9;}
  to {opacity: 1;}
}


.mdc-image-list__item .mdc-image-list__supporting {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  animation: label-slide-down 1200ms forwards;
  animation-fill-mode: forwards;

  -webkit-animation: label-slide-down 1200ms forwards;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: label-slide-down 1200ms forwards;
  -moz-animation-fill-mode: forwards;

  -o-animation: label-slide-down 1200ms forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes label-slide-down {
  from {transform: translateY(0px); display: block;}
  to {transform: translateY(96px); display: none;}
}

@-webkit-keyframes label-slide-down {
  from {transform: translateY(0px); display: block;}
  to {transform: translateY(96px); display: none;}
}

@-moz-keyframes label-slide-down {
  from {transform: translateY(0px); display: block;}
  to {transform: translateY(96px); display: none;}
}

@-o-keyframes label-slide-down {
  from {transform: translateY(0px); display: block;}
  to {transform: translateY(96px); display: none;}
}
