.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-top: 15px;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.nav-icons {
  position: absolute;
  right: 0;
  width: auto;
  margin: 0 .5em 0 0;
}

#side-nav-line-break-first {
  margin-top: 67px;
}

.nav-icon {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 7px;
  margin-inline-end: 7px;
}

.side-nav-line-break {
  margin: .3em .75em .2em;
  opacity: .5;
}

.mat-toolbar.mat-primary {
  border-bottom: #fff;
  border-bottom-style: outset;
  border-bottom-width: 5px;

  border-top: #fff;
  border-top-style: outset;
  border-top-width: 5px;
}

.main-nav-logo {
  z-index: 2;
  margin-left: 10px;
  position: relative;
  bottom: -10px;
  width: 230px;
  height: auto;
  opacity: 0;
}

.mat-toolbar-single-row {
  height: 80px;
}

.app-name {
  position: absolute;
  left: 100px;
  opacity: 0;
}

@media only screen and (max-width: 1080px) {
  #side-nav-line-break-first {
    animation: slideUp 500ms forwards;
    animation-fill-mode: forwards;

    -webkit-animation: slideUp 500ms forwards;
    -webkit-animation-fill-mode: forwards;

    -moz-animation: slideUp 500ms forwards;
    -moz-animation-fill-mode: forwards;

    -o-animation: slideUp 500ms forwards;
    -o-animation-fill-mode: forwards;
}
  .app-name {
    animation: fadeIn 500ms forwards;
    animation-delay: 450ms;
    animation-fill-mode: forwards;

    -webkit-animation: fadeIn 500ms forwards;
    -webkit-animation-delay: 450ms;
    -webkit-animation-fill-mode: forwards;

    -moz-animation: fadeIn 500ms forwards;
    -moz-animation-delay: 450ms;
    -moz-animation-fill-mode: forwards;

    -o-animation: fadeIn 500ms forwards;
    -o-animation-delay: 450ms;
    -o-animation-fill-mode: forwards;
  }

  .main-nav-logo {
    animation: fadeOut90 500ms forwards;
    animation-fill-mode: forwards;

    -webkit-animation: fadeOut90 500ms forwards;
    -webkit-animation-fill-mode: forwards;

    -moz-animation: fadeOut90 500ms forwards;
    -moz-animation-fill-mode: forwards;

    -o-animation: fadeOut90 500ms forwards;
    -o-animation-fill-mode: forwards;
  }
}

@media only screen and (min-width: 1080px) {
  #side-nav-line-break-first {
    animation: slideDown 500ms forwards;
    animation-fill-mode: forwards;

    -webkit-animation: slideDown 500ms forwards;
    -webkit-animation-fill-mode: forwards;

    -moz-animation: slideDown 500ms forwards;
    -moz-animation-fill-mode: forwards;

    -o-animation: slideDown 500ms forwards;
    -o-animation-fill-mode: forwards;
}
  .app-name {
    animation: fadeOut 500ms forwards;
    animation-fill-mode: forwards;

    -webkit-animation: fadeOut 500ms forwards;
    -webkit-animation-fill-mode: forwards;

    -moz-animation: fadeOut 500ms forwards;
    -moz-animation-fill-mode: forwards;

    -o-animation: fadeOut 500ms forwards;
    -o-animation-fill-mode: forwards;
  }

  .main-nav-logo {
    animation: fadeIn90 500ms forwards;
    animation-delay: 450ms;
    animation-fill-mode: forwards;

    -webkit-animation: fadeIn90 500ms forwards;
    -webkit-animation-delay: 450ms;
    -webkit-animation-fill-mode: forwards;

    -moz-animation: fadeIn90 500ms forwards;
    -moz-animation-delay: 450ms;
    -moz-animation-fill-mode: forwards;

    -o-animation: fadeIn90 500ms forwards;
        -o-animation-delay: 450ms;
    -o-animation-fill-mode: forwards;
  }
}

@media only screen and (max-width: 599px) {
  .mat-nav-list {
    margin-top: 39px;
  }
}


@keyframes slideDown {
    from {
      margin-top: 0px;
    }
    to {
      margin-top: 67px;
    }
  }
  @-moz-keyframes slideDown {
    from {
      margin-top: 0px;
    }
    to {
      margin-top: 67px;
    }
  }
  @-webkit-keyframes slideDown {
    from {
      margin-top: 0px;
    }
    to {
      margin-top: 67px;
    }
  }
  @-o-keyframes slideDown {
    from {
      margin-top: 0px;
    }
    to {
      margin-top: 67px;
    }
  }

  @keyframes slideUp {
    from {
      margin-top: 67px;
    }
    to {
      margin-top: 0px;
      padding-top: 4px;
    }
  }

@-webkit-keyframes slideUp {
    from {
      margin-top: 67px;
    }
    to {
      margin-top: 0px;
      padding-top: 4px;
    }
  }

@-o-keyframes slideUp {
    from {
      margin-top: 67px;
    }
    to {
      margin-top: 0px;
      padding-top: 4px;
    }
  }

@-moz-keyframes slideUp {
    from {
      margin-top: 67px;
    }
    to {
      margin-top: 0px;
      padding-top: 4px;
    }
  }
