<div class="mat-card">
  <div class="mat-card-content">
    <app-gallery [galleryName]="'Base Collection'" [galleryImages]="[
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/1.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/3.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/4.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/5.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/6.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/7.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/8.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/9.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/10.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/11.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/12.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/13.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/14.jpg', label: 'blah'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/15.jpg', label: 'blah'}
  ]">
    </app-gallery>
    <app-gallery [galleryName]="'Base Collection II'" [galleryImages]="[
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/1.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/3.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/4.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/5.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/6.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/7.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/8.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/9.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/10.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/11.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/12.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/13.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/14.jpg', label: 'blah II'},
  {src: 'https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/15.jpg', label: 'blah II'}
  ]">
    </app-gallery>
  </div>
</div>
