.avatar-place-holder {
  background-image: url('../../../assets/avatars/pig-avatar.png');
  background-size: cover;
}

.view-card {
  width: 300px;
  height: 200px;
  transform: scale(.4);
  -o-transform: scale(.4);
  -moz-transform: scale(.4);
  -webkit-transform: scale(.4);
  margin-left: -90px;
  margin-right: -90px;
}


.focus-view-card {
  z-index: 10001;
  animation: focus-out 500ms forwards;
  animation-fill-mode: forwards;

  -webkit-animation: focus-out 500ms forwards;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: focus-out 500ms forwards;
  -moz-animation-fill-mode: forwards;

  -o-animation: focus-out 500ms forwards;
  -o-animation-fill-mode: forwards;
}

.focus-view-card:hover {
  z-index: 10002;
  animation: focus-in 500ms forwards;
  animation-fill-mode: forwards;

  -webkit-animation: focus-in 500ms forwards;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: focus-in 500ms forwards;
  -moz-animation-fill-mode: forwards;

  -o-animation: focus-in 500ms forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes focus-in {
  from {transform: scale(.4)}
  to {transform: scale(1)}
}

@-webkit-keyframes focus-in {
  from {transform: scale(.4)}
  to {transform: scale(1)}
}

@-moz-keyframes focus-in {
  from {transform: scale(.4)}
  to {transform: scale(1)}
}

@-o-keyframes focus-in {
  from {transform: scale(.4)}
  to {transform: scale(1)}
}

@keyframes focus-out {
  from {transform: scale(1)}
  to {transform: scale(.4)}
}

@-webkit-keyframes focus-out {
  from {transform: scale(1)}
  to {transform: scale(.4)}
}

@-moz-keyframes focus-out {
  from {transform: scale(1)}
  to {transform: scale(.4)}
}

@-o-keyframes focus-out {
  from {transform: scale(1)}
  to {transform: scale(.4)}
}

.bottom-vertical-line {
    height: 75px;
    width: 3px;
    border-right-width: 3px;
    border-right: dashed;
    margin: -100px auto 0;
}

.bottom-flat-line-left {
    height: 11px;
    width: 75px;
    border-bottom-width: 3px;
    border-bottom: dashed;
    border-bottom-right-radius: 15px;
    margin: 0px 0px 0px 0px;
    position: absolute;
}

.bottom-flat-line-right {
    height: 11px;
    width: 75px;
    border-bottom-width: 3px;
    border-bottom: dashed;
    border-bottom-left-radius: 15px;
    margin: 0px 0px 0px 79px;
    position: absolute;
}

.top-vertical-line {
    height: 125px;
    width: 3px;
    border-right-width: 3px;
    border-right: dashed;
    position: absolute;
    top: -75px;
    margin: 47px 0px 0px 75px;
}

.top-flat-line-left {
    height: 11px;
    width: 75px;
    border-top-width: 3px;
    border-top: dashed;
    border-top-right-radius: 15px;
    margin: 0px 0px 0px 4px;
    position: absolute;
    top: 35px;
}

.top-flat-line-right {
    height: 11px;
    width: 75px;
    border-top-width: 3px;
    border-top: dashed;
    border-top-left-radius: 15px;
    margin: 0px 0px 0px 79px;
    position: absolute;
    top: 35px;
}

.row-two-flat-line-extension-left {
  width: 162px;
  transform: translateX(-85px);
  -o-transform: translateX(-85px);
  -moz-transform: translateX(-85px);
  -webkit-transform: translateX(-85px);
}

.row-two-flat-line-extension-right {
  width: 162px;
  transform: translateX(0px);
  -o-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
}
