<mat-grid-list cols="1" rowHeight="512px">
  <mat-grid-tile>
    <mat-card class="farm-card postcard">
      <div class="farm-container">
        <img class="farm-field" src="../../../assets/farm-scene/field.jpg">
        <img class="farm-barn" src="../../../assets/farm-scene/red-barn.png">
        <img [class.pig-walking]="true" id="pig-start" class="farm-pig" src="../../../assets/farm-scene/red-piggy.png">
        <img class="farm-tree" src="../../../assets/farm-scene/tree-bush.png">
        <img class="farm-meat-stand-start" src="../../../assets/farm-scene/meat-stand.png">
        <img [class.fade-in]="true" class="farm-pig-dialog" src="../../../assets/farm-scene/dialog-box.png">
        <img [class.pig-pooping]="true" class="farm-pig-poop" src="../../../assets/farm-scene/poop.png">
        <img [class.welcome-banner]="true" class="farm-welcome-banner" src="../../../assets/farm-scene/farm-welcome.png">
        <div [class.typewriter]="true" id="pig-last-words-position" class="pig-last-words">
          <div>Oh...</div>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


