@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
@import "material-components-web/material-components-web";

@include textfield.core-styles;

.my-image-list {
  @include image-list.standard-columns(5);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fade-in {
  opacity: 0;
  animation: fadeIn ease 1s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;

  -webkit-animation: fadeIn ease 1s;
  -webkit-animation-delay: 4.5s;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: fadeIn ease 1s;
  -moz-animation-delay: 4.5s;
  -moz-animation-fill-mode: forwards;

  -o-animation: fadeIn ease 1s;
  -o-animation-delay: 4.5s;
  -o-animation-fill-mode: forwards;

}

@keyframes fadeIn {
  0% {
    display: inherit;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    display: inherit;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    display: inherit;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    display: inherit;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 1s;
  animation-delay: 14s;
  animation-fill-mode: forwards;

  -webkit-animation: fadeOut ease 1s;
  -webkit-animation-delay: 14s;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: fadeOut ease 1s;
  -moz-animation-delay: 14s;
  -moz-animation-fill-mode: forwards;

  -o-animation: fadeOut ease 1s;
  -o-animation-delay: 14s;
  -o-animation-fill-mode: forwards;

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.fade-in-90 {
  animation: fadeIn90 ease 1s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;

  -webkit-animation: fadeIn90 ease 1s;
  -webkit-animation-delay: 4.5s;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: fadeIn90 ease 1s;
  -moz-animation-delay: 4.5s;
  -moz-animation-fill-mode: forwards;

  -o-animation: fadeIn90 ease 1s;
  -o-animation-delay: 4.5s;
  -o-animation-fill-mode: forwards;

}

@keyframes fadeIn90 {
  0% {
    display: inherit;
    opacity: 0;
  }
  100% {
    opacity: .9;
  }
}

@-moz-keyframes fadeIn90 {
  0% {
    display: inherit;
    opacity: 0;
  }
  100% {
    opacity: .9;
  }
}

@-webkit-keyframes fadeIn90 {
  0% {
    display: inherit;
    opacity: 0;
  }
  100% {
    opacity: .9;
  }
}

@-o-keyframes fadeIn90 {
  0% {
    display: inherit;
    opacity: 0;
  }
  100% {
    opacity: .9;
  }
}

.fade-out-90 {
  animation: fadeOut90 ease 1s;
  animation-delay: 14s;
  animation-fill-mode: forwards;

  -webkit-animation: fadeOut90 ease 1s;
  -webkit-animation-delay: 14s;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: fadeOut90 ease 1s;
  -moz-animation-delay: 14s;
  -moz-animation-fill-mode: forwards;

  -o-animation: fadeOut90 ease 1s;
  -o-animation-delay: 14s;
  -o-animation-fill-mode: forwards;

}

@keyframes fadeOut90 {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-moz-keyframes fadeOut90 {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes fadeOut90 {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-o-keyframes fadeOut90 {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
