.fixed-nav-bottom {
    position: fixed;
    bottom: 7px;
    width: 100%;
    opacity: .5;
    background-color: white;
    text-align: center;
}

.fixed-nav-container {
  position: relative;
  margin: 0 auto;
  padding-bottom: 7px;
}

.fixed-nav-bottom:hover {
  animation: transition 500ms forwards;

  -webkit-animation: transition 500ms forwards;
  -moz-animation: transition 500ms forwards;
  -o-animation: transition 500ms forwards;
}

@keyframes transition {
  from {opacity: .5;}
  to {opacity: 1;}
}

@-webkit-keyframes transition {
   from {opacity: .5;}
  to {opacity: 1;}
}

@-moz-keyframes transition {
   from {opacity: .5;}
  to {opacity: 1;}
}

@-o-keyframes transition {
   from {opacity: .5;}
  to {opacity: 1;}
}

.inline-nav-icon {
  margin: 3px 7px 3px;
}

.inline-nav-button {
    width: 190px;
    height: 40px;
    margin: 3px 10px 3px;
}

