
  <div class="fixed-nav-bottom">
    <hr>
    <button class="button inline-nav-button" mat-raised-button color="primary"><span class="material-icons inline-nav-icon">food_bank</span>Services & Pricing</button>
    <button class="button inline-nav-button" mat-raised-button color="primary"><span class="material-icons inline-nav-icon">search</span>Lineage Viewer</button>
    <button class="button inline-nav-button" mat-raised-button color="primary"><span class="material-icons inline-nav-icon">photo</span>Photo Gallery</button>
    <button class="button inline-nav-button" mat-raised-button color="primary"><span class="material-icons inline-nav-icon">account_box</span>Account</button>
  </div>
