<div class="fixed-nav-bottom">
  <div class="fixed-nav-container">
    <div class="fixed-nav-row">
      <button routerLink="/account" routerLinkActive="active" class="button inline-nav-button"
              mat-raised-button color="primary"><span
        class="material-icons inline-nav-icon">account_box</span>Account
      </button>
      <button routerLink="/the-farm" routerLinkActive="active" class="button inline-nav-button" mat-raised-button
              color="primary"><span class="material-icons inline-nav-icon">savings</span>The Farm
      </button>
      <button routerLink="/store" routerLinkActive="active" class="button inline-nav-button" mat-raised-button
              color="primary"><span
        class="material-icons inline-nav-icon">food_bank</span>Services & Pricing
      </button>
      <button routerLink="/lineage-viewer" routerLinkActive="active" class="button inline-nav-button" mat-raised-button
              color="primary"><span
        class="material-icons inline-nav-icon">search</span>Lineage Viewer
      </button>
      <button routerLink="/photo-gallery" routerLinkActive="active" class="button inline-nav-button" mat-raised-button
              color="primary"><span
        class="material-icons inline-nav-icon">photo</span>Photo Gallery
      </button>
    </div>
  </div>
</div>

