.fixed-nav-bottom {
  background-color: whitesmoke;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  z-index: 10010;
}

.fixed-nav-container {
  position: relative;
  height: 100%;
  right: 0;
  margin: 5px 0px 5px 25px;
}

.inline-nav-button:hover {
  animation: transition 500ms forwards;

  -webkit-animation: transition 500ms forwards;
  -moz-animation: transition 500ms forwards;
  -o-animation: transition 500ms forwards;
}

@keyframes transition {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes transition {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes transition {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes transition {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

.inline-nav-icon {
  margin: 3px 7px 3px;
}

.inline-nav-button {
  opacity: .5;
  min-width: 190px;
  height: 40px;
  margin: 3px 10px 3px;
}

