<mat-grid-list cols="1" rowHeight="75px">
  <mat-grid-tile>
    <form class="lineage-search-nav">
      <mat-form-field appearance="fill" class="lineage-search-nav-drop-down">
        <mat-label>Current Boars</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="lineage-search-nav-drop-down">
        <mat-label>Current Sows</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>
